@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600&display=swap');


$title-font: 'Montserrat', Arial, Helvetica, sans-serif;
$text-font: 'Mulish', Arial, Helvetica, sans-serif;

//** COLORS **//
$white-color: #fefefe;
$grey-color: #b2b2b2;
$black-color: #2d3436;

$text-color: #130f40;
$main-color: #f2753b;
$accent-color: #00ff00;