
@import '@/styles/responsive.scss';
@import '@/styles/values.scss';
@import '@/styles/reset.scss';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600&display=swap');

html {
  font-family: $text-font;
  font-weight: 400;
  color: $text-color;
 
}

.view {
  width: 100%;
  height: 100vh;
  flex-shrink: 0;
}

body {
  background: #e09853;
  background: radial-gradient(circle, rgba(227, 183, 139, 1) 0%, rgba(206, 129, 76, 1) 100%);
  background-image: url('../public/Tennis-min.png');
  background-size: cover;
  overflow: hidden;
}


/* Home styles */
.view.home {
  padding-top: 32px;
  .list-container {
    height: 100%;
    max-width: 640px;
    margin-right: auto;
    margin-left: auto;
    .player-list {
      height: 100%;
      padding: 48px 0 64px;
      overflow: auto;
      overflow-y: scroll;
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none;  /* Internet Explorer 10+ */
    }
    .player-list::-webkit-scrollbar { /* WebKit */
      width: 0;
      height: 0;
  }
  }
}
@media (min-width: $layout-breakpoint-medium) {
  .view.home {
    padding-top: 128px;
  }
}
@media (min-width: $layout-breakpoint-large) {
  .view.home {
    padding-top: 128px;
    .list-container {
      margin-left: unset;
    }
  }
}

/* Player details styles */

view.player.transition {
  .overlay {
    opacity: 0;
  }
  .close-button {
    opacity: 0;
    transform: rotate(-45deg);
  }
  .card {
    opacity: 0.6;
    bottom: -100%;
    transition: 0.6s ease-in;
    .picture {
      transform: translateY(512px);
      transition: 0.6s ease-in;
    }
    .shadow {
      transform: translateY(512px);
      transition: 0.6s ease-in;
    }
    .info-container {
      .info {
        .info-title {
          opacity: 0;
          transition: 0.2s ease-in;
        }
        .info-value {
          opacity: 0;
          transform: translateX(-8px);
          transition: 0.4s ease-in;
        }
      }
    }
  }
}
.view.player {
  position: relative;
  padding-top: 128px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba($black-color, 0.6);
    backdrop-filter: blur(4px);
    transition: 0.6s ease-out;
  }
  .close-button {
    $radius: 96px;
    width: $radius;
    height: $radius;
    position: absolute;
    top: 24px;
    padding: 24px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white-color;
    font-size: 48px;
    border-radius: $radius;
    transform: rotate(45deg);
    cursor: pointer;
    transition: 0.4s 0.2s ease-out;
    &::before {
      content: '';
      position: absolute;
      height: 2px;
      width: 48px;
      background: $white-color;
      transition: 0.2s ease-out;
    }
    &::after {
      content: '';
      position: absolute;
      height: 48px;
      width: 2px;
      background: $white-color;
      transition: 0.2s ease-out;
    }
    &:hover {
      &::before {
        opacity: 0.8;
        width: 64px;
        transition: 0.2s ease-in;
      }
      &::after {
        opacity: 0.8;
        height: 64px;
        transition: 0.2s ease-in;
      }
    }
    &:active {
      &::before {
        width: 40px;
        transition: 0.2s ease-in;
      }
      &::after {
        height: 40px;
        transition: 0.2s ease-in;
      }
    }
  }
  .card {
    background: $white-color;
    position: absolute;
    height: calc(100vh - 128px);
    width: 100%;
    bottom: 0;
    box-shadow: 0 8px 24px -8px rgba($black-color, 0.2), 0 4px 8px -2px rgba($main-color, 0.2);
    transition: 0.6s ease-out;
    .picture,
    .shadow {
      position: absolute;
      z-index: 100;
      top: 0;
      bottom: 0;
      left: -30vh;
      width: 80vh;
      flex-shrink: 0;
      background-size: contain;
      background-position: bottom center;
      background-repeat: no-repeat;
      transition: 0.6s ease-out;
      transition-delay: 0.2s;
    }
    .shadow {
      z-index: 80;
      opacity: 0.4;
      filter: blur(24px) brightness(0);
      transition-delay: 0.15s;
    }
    .name-container {
      margin: 48px 0 0 20vh;
      h1 {
        position: relative;
        font-family: $title-font;
        font-weight: bold;
        letter-spacing: 2px;
        color: $white-color;
        font-size: max(8vw, 48px);
        -webkit-text-stroke: 8px $main-color;
        -webkit-text-fill-color: $white-color;
        &::after {
          content: attr(title);
          position: absolute;
          left: 0;
          -webkit-text-stroke: $white-color;
        }
      }
      h2 {
        font-family: $title-font;
        font-weight: 900;
        letter-spacing: 2px;
        color: $main-color;
        font-size: max(12vw, 64px);
      }
    }
    .info-container {
      margin: 96px 0 0 40vh;
      display: grid;
      grid-gap: 16px;
      grid-template-columns: repeat(3, 1fr);
      .info {
        margin-bottom: 24px;
        .info-title {
          letter-spacing: 2px;
          text-transform: uppercase;
          font-family: $text-font;
          font-size: 20px;
          font-weight: 600;
          color: $grey-color;
          margin-bottom: 4px;
          transition: 0.2s ease-out;
          transition-delay: 0.4s;
        }
        .info-value {
          display: flex;
          align-items: center;
          font-family: $title-font;
          font-size: 20px;
          font-weight: 600;
          color: $main-color;
          transition: 0.4s ease-out;
          transition-delay: 0.6s;
        }
        .country-flag {
          width: 48px;
          height: 32px;
          margin: 0 16px 0 0;
          background-size: cover;
          background-position: center;
          border-radius: 4px;
          box-shadow: 0 1px 3px 0 rgba($black-color, 0.1);
        }
        .rank {
          grid-column: 1 / 2;
        }
        .points {
          grid-column: 2 / 3;
        }
        .country {
          grid-column: 3 / 4;
        }
        .age {
          grid-column: 1 / 2;
        }
        .weight {
          grid-column: 1 / 2;
        }
        .height {
          grid-column: 2 / 3;
        }
      }
    }
  }
}
@media (min-width: $layout-breakpoint-medium) {
  .view.player {
    .card {
      width: calc(100% - 256px);
    }
  }
}